controller:
  manager:
    image:
      repository: ghcr.io/weaveworks/pipeline-controller
      tag: v0.0.2-2-ge46ab5f-dirty
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  replicas: 1
kubernetesClusterDomain: cluster.local
promotion:
  service:
    enabled: true
    type: ClusterIP
    port: 8082
    nodePort: ""
    annotations: {}
    labels: {}
  ingress:
    enabled: false
    className: ""
    annotations: {}
    labels: {}
    hosts: []
    # - host: chart-example.local
    #   paths:
    #     - path: /
    #       pathType: ImplementationSpecific
    tls: []
    #  - secretName: chart-example-tls
    #    hosts:
    #      - chart-example.local
