name: CI

on:
  pull_request:
    branches:
      - main
  pull_request_target:
    types:
      - closed
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read # for actions/checkout to fetch code
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup
      uses: actions/setup-go@v3
      with:
        go-version: 1.19.x
        cache: true
    - name: Prepare
      run: |
        echo "machine github.com login ${{ github.actor }} password ${{ secrets.BUILD_BOT_TOKEN }}" > ~/.netrc
    - name: Lint
      run: make lint

  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read # for actions/checkout to fetch code
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup
      uses: actions/setup-go@v3
      with:
        go-version: 1.19.x
        cache: true
    - name: Prepare
      run: |
        echo "machine github.com login ${{ github.actor }} password ${{ secrets.BUILD_BOT_TOKEN }}" > ~/.netrc
    - name: Test
      run: make test

  push:
    name: Push
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    needs: [lint, test]
    permissions:
      contents: read # for actions/checkout to fetch code
      packages: write # needed for ghcr access
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup QEMU
      uses: docker/setup-qemu-action@v2
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: Prepare # .netrc is used by docker-build, ~/.netrc is used by go test
      run: echo "machine github.com login ${{ github.actor }} password ${{ secrets.BUILD_BOT_TOKEN }}" | tee ~/.netrc .netrc
    - name: Push to GitHub Container Registry
      run: make docker-push # defaults to ghcr.io
    - name: Push to DockerHub
      run: IMG_REGISTRY=docker.io make docker-push